[submodule "dep/amethyst"]
	path = dep/amethyst
	url = git@github.com:jaynus/amethyst.git
[submodule "dep/termpix"]
	path = dep/termpix
	url = https://github.com/hopey-dishwasher/termpix.git
[submodule "dep/amethyst-imgui"]
	path = dep/amethyst-imgui
	url = git@github.com:jaynus/amethyst-imgui.git
[submodule "dep/rlua"]
	path = dep/rlua
	url = git@github.com:jaynus/rlua.git
