[submodule "dep/amethyst"]
	path = dep/amethyst
	url = https://github.com/jaynus/jaynus/amethyst.git
[submodule "dep/termpix"]
	path = dep/termpix
	url = https://github.com/hopey-dishwasher/termpix.git
[submodule "dep/amethyst-imgui"]
	path = dep/amethyst-imgui
	url = https://github.com/jaynus/amethyst-imgui
[submodule "dep/rlua"]
	path = dep/rlua
	url = https://github.com/jaynus/aynus/rlua
[submodule "dep/voronoi"]
	path = dep/voronoi
	url = https://github.com/jaynus/rust_voronoi
[submodule "dep/delaunay2d"]
	path = dep/delaunay2d
	url = https://github.com/jaynus/delaunay2d
