(
    axes: {},
    actions: {
        PickUp:       [ [Key(G)], ],

        MoveLeft:    [ [Key(Left)], [Key(A)] ],
        MoveRight:   [ [Key(Right)], [Key(D)] ],
        MoveUp:      [ [Key(Up)], [Key(W)] ],
        MoveDown:    [ [Key(Down)], [Key(S)] ],

        ZoomIn:      [ [Key(Period)], ],
        ZoomOut:     [ [Key(Comma)], ],

        ToggleInventory: [ [Key(I)], ],
    },
)
